<% sortable = true if sortable.nil? %>
<table id="manual_table" class="table table-striped table-bordered table-sm">
  <thead>
    <tr class="m-0">
      <th class="w-33"><%= table_column Manual, "title", sortable: sortable %></th>
      <th class="w-17"><%= table_column Manual, "category_id", sortable: sortable %></th>
      <th class="w-25"><%= table_column Manual, "user_id", sortable: sortable %></th>
      <th class="w-25"><%= table_column Manual, "updated_at", sortable: sortable %></th>
    </tr>
  </thead>
  <tbody>
    <% manuals.each do |manual| %>
      <tr class="m-0">
        <td class="w-33"><%= link_to manual.title, manual %></td>
        <td class="w-17"><%= manual.category.title %></td>
        <td class="w-25"><%= link_to manual.user, user_path(manual.user_id) %></td>
        <td class="w-25"><%= manual.updated_at.to_s(:db) %></td>
      </tr>
    <% end %>
  </tbody>
</table>