<table id="manual_table" class="table table-striped table-bordered table-sm">
  <thead>
    <tr class="m-0">
      <th class="w-33"><%= sortable "title" %></th>
      <th class="w-17"><%= sortable "category_id" %></th>
      <th class="w-25"><%= sortable "user_id" %></th>
      <th class="w-25"><%= sortable "updated_at" %></th>
    </tr>
  </thead>
  <%= render 'manuals/body', manuals: manuals %>
</table>