<h2 class="manual_title editable" data-object="manual" data-attribute="title" data-url=<%= manual_path %> data-activator="#title-edit"><%= @manual.title %></h2>
<%= editable(@manual, "title-edit") %>

<%= content_tag :div, nil, id: "manual", data: { "initial-state" => manual_data(@manual)} %>

<div class="rateit" data-rateit-value=<%= @rating %> data-url=<%= rate_manual_path %> style="font-size:35px"></div>

<div class="manual_details" >
  <p>
    <strong><%= Manual.human_attribute_name("category") %>:</strong>
    <%= @manual.category.title %>
    <br>
    <strong><%= Manual.human_attribute_name("author") %>:</strong>
    <%= @manual.user %>
    <br>
    <strong><%= Manual.human_attribute_name("created_at") %>:</strong>
    <%= @manual.created_at.to_s(:db)%>
    <br>
    <strong><%= Manual.human_attribute_name("updated_at") %>:</strong>
    <%= @manual.updated_at.to_s(:db)%>
    <br>
    <strong>Tags:</strong>
    <%=raw @manual.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    <br>
    <strong>Views:</strong>
    <%= @manual.manual_views.size %>
  </p>
</div>
<% if can_edit(@manual) %>
<%= link_to t('action.edit'), edit_manual_path(@manual), class: 'btn btn-sm btn-primary' %>
<%= link_to t('action.destroy'), manual_path, class: 'btn btn-sm btn-danger', method: :delete,
                                                                            data: { confirm: 'Are you sure?' } %>
<% end %>